#Devs{
    padding: 50px;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

#tituloDevs{
    color: #FFB000;
    font-family: simply_rounded;
    font-size: 40px;
}

#textoDevs{
    color: #434343;
    font-family: cocogoose;
    font-size: 30px;
    font-weight: 600;
    text-align: justify;
}

#anoDevs{
    font-family: inter;
    font-weight: 600;
}

#imgDevs{
    width: 99.2%;
    height: 99.2%;
}

@media screen and (min-width: 320px) and (max-width: 854px){
    #textoDevs{
        font-size: 25px;
    }
    #anoDevs{
        font-size: 25px;
    }
 }