#Headerinstitucional{
    width: 100%;
    height: 350px;
    background-color: blueviolet;
    display: grid;
    align-content: center;
    gap: 0;
    background-image: url('../../Images/mulherCadeirante.png');
    background-position: center;
}

#Headerinstitucional h1{
    text-align: center;
    font-size: 50px;
    color: #FFF;
    font-family: simply_rounded;
}

#Headerinstitucional h2{
    text-align: center;
    font-size: 25px;
    color: #FFF;
    font-family: cocogoose;
    font-weight: normal;
}

#Headerinstitucional span{
    font-family: inter;
    font-size: 25px;
    font-weight: 600;
}
@media screen and (min-width: 320px) and (max-width: 854px){
    #Headerinstitucional h1{
        font-size: 40px;
    }
    #Headerinstitucional h2{
        font-size: 20px;
    }
    #Headerinstitucional span{
        font-size: 20px;
    }
 }