#main_materia {
    position: relative;
    width: 100%;
    height: auto;
}

#main_materia section {
    width: 1150px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 7%;
    gap: 50px;
}

#materia_part1 {
    width: 75%;
}

.materia_topo {
    height: 200px;
    border-bottom: 2px solid #CCC;
}

#materia_part1 h1 {
    font-size: 45px;
    font-family: inter;
    font-weight: normal;
}

#materia_part1 h2 {
    margin-right: 60%;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    font-family: cocogoose;
    border-radius: 5px;
    padding: 4px 0 1px 0;
}

#materia_part1 img {
    width: 100%;
    margin-top: 25px;
}

#materia_part1 span {
    color: #333;
    font-size: 18px;
    font-family: arial;
}

#materia_part1 p {
    font-size: 25px;
    font-family: arial;
    margin-top: 25px;
}

#materia_part2 {
    width: 25%;
}

#materia_part2 .materia_topo {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;
}

#materia_part2 .materia_topo div {
    border-radius: 10px;
}

.materia_topo div {
    display: flex;
    border: 1px solid #333;
    align-items: center;
}

#materia_part2 input[type='search'] {
    width: 85%;
    font-size: 20px;
    font-family: inter;
    text-indent: 10px;
    padding: 5px 0;
    border-radius: 25px;
}

#materia_part2 input[type = "search"]:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#materia_part2 input[type = "search"]::-webkit-search-cancel-button {
    display: none;
}

.lupa {
    width: 15% !important;
    align-self: center;
}

#materia_part2 div img {
    width: 85%;
    height: auto;
}

#materia_part2 article {
    width: 100%;
    height: 210px;
}


/*Responsivo*/

@media only screen and (min-width: 1600px) {

    #main_materia section {
        width: 1350px;
    }
}

@media only screen and (max-width: 1280px) {

    #main_materia section {
        width: 1000px;
        gap: 30px;
    }

    #materia_part1 h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1050px) {

    #main_materia section {
        width: 740px;
        flex-direction: column;
        margin-top: 8%;
        gap: 0;
    }

    #materia_part1, #materia_part2 {
        width: 100%;
    }

    #materia_part2 .materia_topo {
        width: 50%;
        height: 100px;
        padding: 0;
        border: 0;
    }

    .materias {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .lupa {
        width: 50px !important;
        align-self: center;
    }

    #materia_part2 article {
        width: 350px;
        height: 260px;
    }
}

@media only screen and (max-width: 768px) {

    #main_materia section {
        width: 90%;
        margin-top: 10%;
    }

    .materia_topo {
        height: auto;
        padding-bottom: 25px;
    }
    
    #materia_part1 h1 {
        font-size: 35px;
    }

    #materia_part1 h2 {
        font-size: 27px;
        margin-right: 50%;
    }

    #materia_part1 span {
        font-size: 20px;
    }

    #materia_part1 p {
        font-size: 23px;
    }

    #materia_part2 article {
        width: 300px;
        height: 230px;
    }
}

@media only screen and (max-width: 480px) {

    #main_materia section {
        width: 95%;
        margin-top: calc(10% + 20px);
    }

    #materia_part1 h1 {
        font-size: 30px;
    }

    #materia_part1 h2 {
        font-size: 22px;
        margin-right: 15%;
    }

    #materia_part1 span {
        font-size: 18px;
    }

    #materia_part1 p {
        font-size: 20px;
    }

    #materia_part2 .materia_topo {
        width: 100%;
    }

    #materia_part2 article {
        width: 330px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}