#comentario_section {
    position: relative;
    height: auto;
    display: flex;
    margin: auto;
}

.input_principal {
    width: 98%;
    border: 1px solid #BBB;
    border-radius: 10px;
    padding: 1%;
    font-size: 15px;
    font-family: inter;
}

#comentario_section textarea {
    width: 98%;
    border: 1px solid #BBB;
    border-radius: 10px;
    padding: 1%;
    font-size: 15px;
    font-family: inter;
    resize: vertical;
}

#comentario_part1 {
    width: 75%;
}

#comentario_part1 h1 {
    font-size: 40px;
    font-family: cocogoose;
}

#comentario_part1 p {
    font: 22px cocogoose;
    color: #333;
    margin-top: 15px;
}

#comentario_part1 div {
    display: flex;
    align-items: center;
}

#salvar_informacao {
    width: 20px;
    height: 20px;
}

#comentario_section label {
    font: 18px cocogoose;
    padding-left: 10px;
}

#comentario_submit {
    width: 98%;
    font: 28px cocogoose;
    margin-top: 15px;
    padding: 10px 0;
    border-radius: 10px;
    color: #FFF;
    background-color: #055BBB;
}

#comentario_part2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comentario_part2 img {
    width: 85%;
}

/*Responsivo*/

@media only screen and (max-width: 1050px) {

    #comentario_section {
        flex-direction: row !important;
    }

    #comentario_part1 h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 768px) {

    #comentario_part1 {
        width: 80%;
    }

    #comentario_part2 {
        width: 20%;
    }

    #comentario_submit {
        font: 25px cocogoose;
        padding: 8px 0;
    }
}

@media only screen and (max-width: 480px) {

    #comentario_part1 {
        width: 100%;
    }

    #comentario_part2 {
        display: none;
    }

    #comentario_part1 h1 {
        font-size: 30px;
    }

    #comentario_part1 p {
        font: 20px cocogoose;
    }

    #comentario_submit {
        font: 20px cocogoose;
        padding: 5px 0;
    }
}