//Variáveis

$color1: #FFF; //Menu lateral e outros
$color2: #000; //Texto e outros


//Mixin - 'Funções' SCSS

@mixin title_font {
    font-size: 35px;
    font-weight: normal;
    text-align: left;
    color: $color2;
    font-family: simply_rounded;
}


//Estilizações

#demo {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    transition: margin-left 0.5s ease;
    padding-bottom: 5%;
}

.main {
    width: 100%;
    transition: margin-left 0.5s ease;
}

//Menu lateral

.menu_lateral {
    backface-visibility: hidden;
    margin-left: -275px;
    transition: margin-left 0.5s ease;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 275px;
    height: 100%;
    z-index: 99;
    background: $color1;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(200, 200, 200, 0.125);

    nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    #logo {
        width: 80%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        list-style: none;

        div {
            width: 80%;
            margin: auto;
            margin-top: 25px;
            display: flex;
            justify-content: center;
            column-gap: 15%;
            align-items: center;
            transition: all 0.3s;
            border: 0.5px solid $color2;
            border-radius: 10px;
            cursor: pointer;
    
            img {
                width: 45px;
            }
    
            p {
                @include title_font();
                font-size: 20px;
            }

            .seta_card {
                position: absolute;
                width: 25px !important;
                right: 5px;
                transform: rotate(-90deg);
                transition: rotate 0.3s !important;
            }

            &:hover {
                transform: scale(1.03, 1.03);
            }
        }

        .cards_opcoes {
            border: none;
            flex-direction: column;
            margin-top: 0px;
            transition: top 0.5s;

            div {
                width: 80%;
                left: 11%;
                margin-top: 12px !important;
                padding: 5px 0;

                &:hover {
                    transform: none;
                }
            }

            &:hover {
                transform: none !important;
                cursor: default;
            }
        }
    }

    .troca_vozes {
        margin-top: 25px;

        h2 {
            @include title_font();
            text-align: center;
            font-size: 22px;
            margin-bottom: 8px;
        }

        div {
            width: 80%;
            height: 30px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            align-items: center;
            transition: all 0.3s;
            border: 0.5px solid $color2;
            border-radius: 10px;
            cursor: pointer;
    
            p {
                width: 50%;
                z-index: 3;
                text-align: center;
                transition: all 0.3s;
            }
    
            span {
                position: absolute;
                width: 50%;
                height: 100%;
                background-color: #343434;
                border-radius: 10px;
                z-index: 2;
                transition: all 0.5s;
            }
        }
    }
}

//Classes que serão adicionadas na condição da Header e da Main (style.main)

.visible {
    margin-left: 275px;
    transition: margin-left 0.5s ease;
}

.visible2 {
    margin-left: 0;
    transition: margin-left 0.5s ease;
}

//Parte principal

#section_main {
    width: 100%;
    height: auto;
    background-color: $color1;
}

//Header

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: $color1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease;
    z-index: 99;

    nav {
        width: 94%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
    }

    #menu {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $color1;
        margin-left: 10px;
        transition: all 0.3s;
        cursor: pointer;
    }

    #menu:hover {
        background-color: rgba(200, 200, 200, 0.5);
    }

    #nav_right {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 25px;

        #conta {
            width: 40px;
        }

        div {
            display: flex;
            align-items: center;
            background-color: #FAFAFA;
            border: 1px solid #CCC;
            border-radius: 10px;
            box-sizing: border-box;


            input[type = "search"] {
                width: 185px;
                font: 22px cocogoose;
                background-color: #FAFAFA;
                text-indent: 10px;
                border-radius: 10px;
                padding: 2px 0 0.5px 0;
            }

            input[type = "search"]:focus {
                box-shadow: 0 0 0 0;
                border: 0 none;
                outline: 0;
            }

            input[type = "search"]::-webkit-search-cancel-button {
                display: none;
            }

            img {
                width: 35px;
            }
        }
    }
}

//Menu central

#menu_central {
    width: 90%;
    height: 500px;
    margin: auto;
    border-radius: 25px;
    background-image: url('../../Images/Menina\ PCD_demo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
        width: 25%;
        top: 5px;
        left: 22px;
        margin-right: auto
    }

    h2 {
        @include title_font();
        font-size: 45px;
        bottom: 35px;
    }

    h3 {
        @include title_font();
        position: absolute;
        right: 22px;
        top: 15px;
    }
}

#escolher_menu {
    width: 75%;
    margin: auto;
    background: linear-gradient(90deg, rgba(0, 138, 255, 0.50) 0%, rgba(255, 152, 0, 0.50) 100%);
    margin-top: 70px;
    border: 1px solid #CCC;
    border-radius: 35px;

    div {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        padding: 0;
      
        .menu_opcoes {
            width: 20%;
            font-size: 25px;
            font-family: simply_rounded;
            text-align: center;
            text-decoration: none;
            color: $color2;
            padding: 10px 0;
            z-index: 3;
            transition: all 0.5s;
            cursor: pointer;
        }

        span {
            position: absolute;
            width: 20%;
            height: 100%;
            background-color: #343434;
            border-radius: 35px;
            z-index: 2;
            transition: all 0.5s;
        }
    }
}


//Responsividade

@media only screen and (max-width: 768px) {

    //Menu central

    #menu_central {
        width: 90%;
        height: 400px;

        img {
            width: 30%;
            top: 15px;
        }

        h2 {
            font-size: 32px;
            bottom: 25px;
        }

        h3 {
            font-size: 30px;
        }
    }

    //Escolher Menu

    #escolher_menu {
    
        div {

            .menu_opcoes {
                width: 25%;
                font-size: 22px;
            }
        }
    }
}

@media only screen and (max-width: 585px) {

    //Header

    #header {

        nav {
            width: 96%;
        }
    }

    //Menu central

    #menu_central {
        width: 90%;

        img {
            width: 40%;
            top: 5px;
        }

        h2 {
            font-size: 25px;
            bottom: 10px;
        }

        h3 {
            font-size: 25px;
            right: 10px;
            top: 10px;
        }
    }

    //Escolher Menu

    #escolher_menu {
        width: 90%;

        div {

            .menu_opcoes {
                width: 25%;
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {

    //Header

    #header {

        #menu {
            margin-left: 0;
        }

        nav {
            width: 100%;
            justify-content: space-around;
        }

        #nav_right {
            column-gap: 10px;
        }
    }

    //Menu central

    #menu_central {
        width: 95%;
        height: 350px;
        border-radius: 25px;

        img {
            width: 42%;
            margin-right: auto;
            left: 10px;
            top: 10px;
        }

        h2 {
            font-size: 6vw;
            bottom: 10px;
            text-align: center;
        }

        h3 {
            font-size: 25px;
            right: 10px;
            top: 10px;
        }
    }
    
    //Escolher Menu

    #escolher_menu {
        width: 98%;
    
        div {

            .menu_opcoes {
                width: 25%;
                font-size: 4vw;
            }
        }
    }
}