//Variáveis

$color1: #FFF; //Menu lateral e outros
$color2: #000; //Texto e outros

//Mixin - 'Funções' SCSS

@mixin title_font {
    font-size: 35px;
    font-weight: normal;
    text-align: left;
    color: $color2;
    font-family: simply_rounded;
}

//Estilizações

#demo {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    transition: margin-left 0.5s ease;
}

.main {
    width: 100%;
    transition: margin-left 0.5s ease;
}

//Menu lateral

.menu_lateral {
    backface-visibility: hidden;
    transform: translateX(-275px);
    transition: transform 0.5s ease;
    -webkit-overflow-scrolling: touch;
    display: block;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 99;
    background: $color1;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(200, 200, 200, 0.125);

    #logo {
        width: 80%;
        display: flex;
        margin: auto;
    }

    ul {
        list-style: none;

        div {
            width: 80%;
            margin: auto;
            margin-top: 25px;
            display: flex;
            justify-content: center;
            column-gap: 20%;
            align-items: center;
            transition: all 0.3s;
            border: 0.5px solid $color2;
            border-radius: 10px;
            cursor: pointer;
    
            img {
                width: 45px;
            }
    
            p {
                font: 20px simply_rounded;
            }
        }

        div:hover {
            transform: scale(1.03, 1.03);
        }
    }
}

//Classes que serão adicionadas na condição da Header e da Main (style.main)

.visible {
    margin-left: 275px;
    transition: margin-left 0.5s ease;
}

.visible2 {
    transform: translateX(0px);
    transition: transform 0.5s ease;
}

//Parte principal

#section_main {
    width: 100%;
    height: 1000px;
    background-color: $color1;
}

//Header

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: $color1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease;
    z-index: 99;

    nav {
        width: 94%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
    }

    #menu {
        width: 50px;
        height: 50px;
        border: 1px solid #f00;
        background-color: $color1;
    }

    #nav_right {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 25px;

        input[type = "search"] {
            width: 200px;
            font: 22px cocogoose;
            text-indent: 10px;
            background-color: #FAFAFA;
            border: 1px solid #CCC;
            border-radius: 5px;
            padding: 2px 0 0.5px 0;
        }

        #conta {
            width: 40px;
        }
    }
}

//Formalidade
::-webkit-scrollbar{
    display: none;
}

#formalidade {
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 85px;
    overflow: scroll;
    overflow-y:hidden;
    scroll-snap-type: x mandatory;

    h2 {
        @include title_font();
        margin-bottom: 10px;
    }

    div {
        display: flex;
        column-gap: 25px;
        justify-content: space-between;
        padding: 10px 10px;
    }
}