#Contato{
    margin-top: 5%;
    background: rgb(0,0,0);
    background: linear-gradient(60deg, #FFCC59 0%, #f8b926 100% ) no-repeat; 
    animation: gradient 8s ease alternate infinite;
    background-size: 200% 200%;
    height: auto;
    width: auto;
    padding-top: 60px;
}


@keyframes gradient{
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}

/*Responsivo*/

@media screen and (min-width: 320px) and (max-width: 800px){
    #Contato{
        padding-top: 50px;
    }
 }
 