#depoimentos {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 8%;
}

#depoimentos h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    font-family: simply_rounded;
    margin-bottom: 25px;
}

#box {
    width: 75%;
    margin: auto;
    height: auto;
    background-color: #008AFF;
    display: flex;
    padding: 20px 0;
    border-radius: 30px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}

#button_left {
    width: 5%;
    margin: auto;
    cursor: pointer;
}

#button_left img {
    display: flex;
    margin: auto;
    width: 2.5vw;
    transition: all 0.3s;
}

#image_name {
    width: 20%;
    margin: auto;
}

#image_name h3 {
    text-align: center;
    margin-top: 15px;
    color: #FBB821;
    font-family: simply_rounded;
    font-weight: normal;
    font-size: 22px;
}

#image_name p {
    text-align: center;
    margin-top: 10px;
    color: #f1f1f1;
    font-family: cocogoose;
    font-size: 20px;
}

#image_name div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image_name div img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
}

#text {
    width: 70%;
    margin: auto;
}

#text p {
    font-size: 2.3vw;
    color: #f1f1f1;
    font-family: cocogoose;
    margin-left: 10px;
}

#button_right {
    width: 5%;
    margin: auto;
    cursor: pointer;
}

#button_right img {
    display: flex;
    margin: auto;
    width: 2.5vw;
    transition: all 0.3s;
}

#button_left img:hover, #button_right img:hover {
    transform: scale(1.1, 1.1);
}

/*Responsivo*/

@media only screen and (max-width:1280px) {
    #box {
        padding: 15px 0;
    }

    #image_name h3 {
        font-size: 1.9vw;
    }
    
    #image_name p {
        font-size: 1.7vw;
    }

    #image_name div img {
        width: 15vw;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    #depoimentos h1 {
        font-size: 35px;
    }

    #box {
        padding: 15px 0;
    }

    #image_name {
        width: 30%;
    }

    #image_name h3 {
        font-size: 2.5vw;
    }
    
    #image_name p {
        font-size: 2.3vw;
    }

    #text {
        width: 60%;
    }

    #text p {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 535px) {
    #box {
        width: 90%;
        padding: 10px 0;
    }

    #image_name div img {
        width: 20vw;
    }

    #image_name h3 {
        font-size: 3vw;
    }
    
    #image_name p {
        font-size: 2.8vw;
    }

    #text p {
        font-size: 3.4vw;
    }
}