#depoimentos {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 8%;
}

#depoimentos h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    font-family: simply_rounded;
    margin-bottom: 25px;
}

#box {
    width: 75%;
    margin: auto;
    min-height: 240px;
    background-color: #008AFF;
    display: flex;
    padding: 20px 0;
    align-items: center;
    border-radius: 30px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#button_left {
    width: 5%;
    margin: auto;
    cursor: pointer;
    margin-left: 0;
}

#button_left img {
    display: flex;
    margin: auto;
    width: 2.5vw;
    transition: all 0.3s;
}

.box2 {
    position: absolute;
    display: flex;
    transition: all 0.5s;
    left: 5%;
    right: 5%;
}

.content {
    display: flex;
}

.image_name {
    width: 20%;
    margin: auto;
    text-align: center;
}

.image_name h3 {
    text-align: center;
    margin-top: 15px;
    color: #FBB821;
    font-family: simply_rounded;
    font-weight: normal;
    font-size: 22px;
}

.image_name p {
    margin-top: 10px;
    color: #f1f1f1;
    font-family: cocogoose;
    font-size: 20px;
}

.image_name img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.text {
    width: 70%;
    margin: auto;
}

.text p {
    font-size: 2.3vw;
    color: #f1f1f1;
    font-family: cocogoose;
    margin-left: 10px;
}

#button_right {
    width: 5%;
    margin: auto;
    cursor: pointer;
    margin-right: 0;
}

#button_right img {
    display: flex;
    margin: auto;
    width: 2.5vw;
    transition: all 0.3s;
}

#button_left img:hover, #button_right img:hover {
    transform: scale(1.1, 1.1);
}

/*Responsivo*/

@media only screen and (max-width:1280px) {
    #box {
        padding: 15px 0;
        min-height: 240px;
    }

    .image_name {
        width: 30%;
    }

    .image_name h3 {
        font-size: 1.9vw;
    }
    
    .image_name p {
        font-size: 1.7vw;
    }

    .image_name img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    #box {
        min-height: 22vw;
    }
}

@media only screen and (max-width: 768px) {
    #depoimentos h1 {
        font-size: 35px;
    }

    #box {
        width: 85%;
        min-height: 25vw;
        padding: 15px 0;
    }

    .image_name h3 {
        font-size: 2.5vw;
        margin-top: 5px;
    }
    
    .image_name p {
        font-size: 2.3vw;
    }

    .text p {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 535px) {
    #box {
        width: 95%;
        min-height: 28vw;
        padding: 10px 0;
    }

    .image_name {
        width: 35%;
    }

    .image_name img {
        width: 80px;
        height: 80px;
    }

    .image_name h3 {
        font-size: 3vw;
    }
    
    .image_name p {
        font-size: 2.8vw;
    }

    .text p {
        font-size: 3.4vw;
    }
}

@media only screen and (max-width: 400px) {
    #box {
        min-height: 30vw;
    }
}