#header_blog{
    display: flex;
    z-index: 2;
    position: fixed;
    flex-direction: row;
    width: 100%;
    top: 0;
    height: auto;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}

#logo_blog2 {
    width: auto;
    height: 65px;
}

/*MENU HAMBURGUER*/

.menu_lines{
    width: 35px;
    height: 35px;
    margin-left: 35px;
    cursor: pointer;
}

.menu_lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #005BBB;
    transition: all ease .2s;
}

.menu_faketrigger{
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 0;
    left: 35px;
    cursor: pointer;
}

.menu_faketrigger:checked~.menu_lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scale(1.2);
}

.menu_faketrigger:checked~.menu_lines span:nth-child(2){
    opacity: 0;
}

.menu_faketrigger:checked~.menu_lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scale(1.2);
}

#menu{
    position: absolute;
    display: none;
    height: auto;
    width: 250px;
    top: 130%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom-right-radius: 50px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}

#menu > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#menu > div img{
    width: 85%;
    margin: auto;
    margin: 10px 0;
}

#menu li{
    color: #2A4FBF;
    width: 200px;
    height: auto;
    margin: 0;
    padding: 20px 0 20px 0;
    border-top: 2px solid #2A4FBF;
    text-align: center;
    font-family: simply_rounded;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

#header_blog .nav-list{
    display: none;
}

/*FIM DO MENU*/

.acessibilidade {
    width: 60px;
}

/* .acessibilidade button{
    cursor: pointer;
    display: grid;
    place-items: center;
    float: left;
    background-color: #005BBB;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    margin: 0 3px;
} */

/*Responsivo*/

@media only screen and (max-width: 1280px) {

    #logo_blog2 {
        height: 60px;
    }

    .menu_lines {
        margin-left: 28px;
    }

    .menu_faketrigger {
        margin-left: 0px;
    }

    #menu {
        width: 200px;
        height: 400px;
    }

    #menu > div img {
        width: 100%;
    }

    #menu li {
        width: 170px;
        padding: 15px 0;
        font-size: 22px;
    }
}

@media only screen and (max-width: 480px) {
    #header_blog {
        height: 60px;
    }

    #logo_blog2 {
        height: 12vw;
        margin: auto;
    }

    #menu {
        width: 185px;
        height: 380px;
    }

    #menu li {
        width: 150px;
        padding: 15px 0;
        font-size: 20px;
    }

    .acessibilidade {
        width: 55px;
    }
}