/*Início do Responsivo*/


/*Responsivo Laptop*/

@media only screen and (max-width:1280px) {

    /*Seção de Pagamentos*/

    .line1 {
        width: 42%;
    }

    /*Seção dos Depoimentos*/

    #box {
        padding: 15px 0;
    }

    #image_name h3 {
        font-size: 1.9vw;
    }
    
    #image_name p {
        font-size: 1.7vw;
    }

    #image_name div img {
        width: 15vw;
        height: auto;
    }

    /*Footer*/
    
    #footer_superior {
        padding: 15px 0;
    }

    footer h3 {
        font-size: 22px;
    }

    #footer_logo{
        width: 25%;
    }

    .topicos {
        width: 18.75%;
        margin: 0%;
    }
}

/*Responsivo Tablet*/

@media only screen and (max-width:768px) {

     /*Seção de Pagamentos*/

     #planos {
        width: 97%;
     }

     #planos_h1 {
        font-size: 40px;
     }

    .line1 {
        width: 45%;
    }

    .line1 h2 {
        font-size: 5vw;
    }

    .line1 p {
        font-size: 2.9vw;
    }

    .part2 h1 {
        font-size: 5.2vw;
    }

    .part3 label {
        font-size: 2.9vw;
    }

    .part4 a {
        font-size: 3vw;
        height: 40px;
    }

    /*Seção dos Depoimentos*/

    #depoimentos h1 {
        font-size: 35px;
    }

    #box {
        padding: 15px 0;
    }

    #image_name {
        width: 30%;
    }

    #image_name h3 {
        font-size: 2.5vw;
    }
    
    #image_name p {
        font-size: 2.3vw;
    }

    #text {
        width: 60%;
    }

    #text p {
        font-size: 3vw;
    }

    /*Footer*/

    #footer_superior {
        flex-direction: column;
    }

    .topicos {
        width: 50%;
    }
}

/*Responsivo Celular*/

@media only screen and (max-width:480px) {

    /*Seção de Pagamentos*/

    #planos {
        width: 100%;
     }

    #pagamentos {
        flex-direction: column;
        gap: 40px;
    }

    .line1 {
        margin: auto;
        width: 70%;
    }

    .line1 h2 {
        font-size: 8vw;
    }

    .line1 p {
        font-size: 4.5vw;
    }

    .part2 h1 {
        font-size: 9vw;
    }

    .part3 label {
        font-size: 4.5vw;
    }

    .part4 a {
        font-size: 5vw;
    }

    /*Seção dos Depoimentos*/

    #box {
        width: 90%;
        padding: 10px 0;
    }

    #image_name div img {
        width: 20vw;
    }

    #image_name h3 {
        font-size: 3vw;
    }
    
    #image_name p {
        font-size: 2.8vw;
    }

    #text p {
        font-size: 3.4vw;
    }
}
