/*CSS Reset*/

* {
    margin: 0;
    bottom: 0;
    padding: 0;
}

/*Fontes*/

@font-face {
    font-family: simply_rounded;
    src: url(../Fonts/simply_rounded/Simply\ Rounded.ttf);
}

@font-face {
    font-family: cocogoose;
    src: url(../Fonts/cocogoose_classic/Cocogoose-Classic-Medium-trial.ttf);
}

@font-face {
    font-family: cocogoose_bold;
    src: url(../Fonts/cocogoose_classic/Cocogoose-Classic-ExtraBold-trial.ttf);
}

/*Início do Main*/

main {
    position: relative;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*Seção de Pagamentos*/

#planos {
    width: 80%;
    height: auto;
    margin: auto;
}

#planos_h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    font-family: simply_rounded;
    margin-bottom: 50px;
} 

#pagamentos {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.line1 {
    width: 38%;
    height: auto;
    border-radius: 25px;
    color: #434343;
}

#comum {
    border: 2px solid #FFE57D;
}

.line1 h2 {
    text-align: center;
    font-size: 38px;
    margin-top: 15px;
    font-weight: normal;
    font-family: arial;
}

.line1 p {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    font-family: arial;
}

#diferenciado {
    border: 2px solid #8C52FF;
}

.part1 {
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.part2 {
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.part2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.part2 h1 {
    font-size: 40px;
    font-family: arial;
    font-weight: normal;
    margin-top: 45px;
}

.part2 p {
    margin-top: 15px;
}

.part3 {
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 40px;
}

.part3 div {
    margin-top: 45px;
    display: flex;
}

.part3 label {
    font-size: 22px;
    padding-left: 15px;
}

.disponivel img {
    width: 37px;
    height: 30px;
}

.nao_disponivel img {
    width: 30px;
    height: 30px;
}

.part4 {
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.part4 a {
    width: 90%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-family: simply_rounded;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#comecar {
    background-color: #FFE57D;
    color: #000000;
}

#acesse_agora {
    background-color: #8C52FF;
    color: #fff;
}

/*Seção dos Depoimentos*/

#depoimentos {
    position: relative;
    width: 100%;
    height: auto;
}

#depoimentos h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    font-family: simply_rounded;
    margin-bottom: 25px;
}

#box {
    width: 75%;
    margin: auto;
    height: auto;
    background-color: #8C52FF;
    display: flex;
    padding: 20px 0;
    border-radius: 30px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}

#button_left {
    width: 5%;
    margin: auto;
    cursor: pointer;
}

#button_left img {
    display: flex;
    margin: auto;
    width: 3vw;
    transition: all 0.3s;
}

#image_name {
    width: 20%;
    margin: auto;
}

#image_name h3 {
    text-align: center;
    margin-top: 15px;
    color: #FFE57D;
    font-family: simply_rounded;
    font-weight: normal;
    font-size: 22px;
}

#image_name p {
    text-align: center;
    margin-top: 10px;
    color: #f1f1f1;
    font-family: cocogoose;
    font-size: 20px;
}

#image_name div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image_name div img {
    width: 175px;
    height: 175px;
    border-radius: 100%;
    margin: auto;
}

#text {
    width: 70%;
    margin: auto;
}

#text p {
    font-size: 2.4vw;
    color: #f1f1f1;
    font-family: cocogoose;
    margin-left: 10px;
}

#button_right {
    width: 5%;
    margin: auto;
    cursor: pointer;
}

#button_right img {
    display: flex;
    margin: auto;
    width: 3vw;
    transition: all 0.3s;
}

#button_left img:hover, #button_right img:hover {
    transform: scale(1.1, 1.1);
}

/*Footer*/

footer {
    width: 100%;
    height: auto;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

footer h3 {
    font-size: 25px;
    font-family: cocogoose_bold;
    margin-bottom: 5px;
}

footer a {
    font-size: 20px;
    font-family: cocogoose;
    color: #353535
}

footer li {
    list-style: none;
    margin: 10px 0 0 0;
}

#footer_superior {
    width: 100%;
    height: 225px;
    background-color: #FFE57D;
    display: flex;
    flex-direction: row;
}

#footer_logo {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo img {
    width: 22vw;
}

#quem_somos {
    width: 17%;
    height: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#quem_somos ul {
    display: flex;
    flex-direction: column;
}

#contato {
    width: 17%;
    height: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#nosso_aplicativo {
    width: 17%;
    height: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#nosso_aplicativo div {
    display: flex;
    flex-direction: column;
}

#certificados {
    width: 17%;
    height: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#redes_sociais {
    width: 100%;
    margin-top: 25px;
    gap: 5px;
}

#redes_sociais a {
    margin-right: 8px;
}

#footer_inferior {
    width: 100%;
    height: auto;
    background-color: #F7B55D;
}

#footer_inferior h4 {
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    color: #fff;
}

/*Início do Responsivo*/


/*Responsivo Laptop*/

@media only screen and (max-width:1280px) {

    /*Seção de Pagamentos*/

    .line1 {
        width: 42%;
    }

    /*Seção dos Depoimentos*/

    #box {
        padding: 15px 0;
    }

    #image_name h3 {
        font-size: 1.9vw;
    }
    
    #image_name p {
        font-size: 1.7vw;
    }

    #image_name div img {
        width: 15vw;
        height: auto;
    }
}

/*Responsivo Tablet*/

@media only screen and (max-width:768px) {

     /*Seção de Pagamentos*/

     #planos {
        width: 97%;
     }

     #planos_h1 {
        font-size: 40px;
     }

    .line1 {
        width: 45%;
    }

    .line1 h2 {
        font-size: 5vw;
    }

    .line1 p {
        font-size: 2.9vw;
    }

    .part2 h1 {
        font-size: 5.2vw;
    }

    .part3 label {
        font-size: 2.9vw;
    }

    .part4 a {
        font-size: 3vw;
        height: 40px;
    }

    /*Seção dos Depoimentos*/

    #depoimentos h1 {
        font-size: 35px;
    }

    #box {
        padding: 15px 0;
    }

    #image_name {
        width: 30%;
    }

    #image_name h3 {
        font-size: 2.5vw;
    }
    
    #image_name p {
        font-size: 2.3vw;
    }

    #text {
        width: 60%;
    }

    #text p {
        font-size: 3vw;
    }
}

/*Responsivo Celular*/

@media only screen and (max-width:480px) {

    /*Seção de Pagamentos*/

    #planos {
        width: 100%;
     }

    #pagamentos {
        flex-direction: column;
        gap: 40px;
    }

    .line1 {
        margin: auto;
        width: 75%;
    }

    .line1 h2 {
        font-size: 8vw;
    }

    .line1 p {
        font-size: 4.5vw;
    }

    .part2 h1 {
        font-size: 9vw;
    }

    .part3 label {
        font-size: 4.5vw;
    }


    /*Seção dos Depoimentos*/

    #box {
        width: 90%;
        padding: 10px 0;
    }

    #image_name div img {
        width: 20vw;
    }

    #image_name h3 {
        font-size: 3vw;
    }
    
    #image_name p {
        font-size: 2.8vw;
    }

    #text p {
        font-size: 3.4vw;
    }
}
