#opções {
    width: 70%;
    height: auto;
    background-color: #FF8100;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#Duvidas{
    text-align: center;
    color: #008AFF;
}
summary {
    margin-left: 20px;
    color: #008AFF;
    font-size: 22px;
    padding-top: 10px;
    margin-top: 20px;
    font-weight: 100;
    background-color: #FF9800;
    border-radius: 20px;
    cursor: pointer;
}
details{
    border-radius: 50%;
    justify-content: center;
    
}
details p {
    margin-left: 20px;
    color: #726F95;
    font-size: 17px;
    background-color: #ff99009a;
    border-radius: 30%;
    text-overflow: clip;
}