#opções {
    width: 70%;
    height: 650px;
    background-color: #FF9800;
    margin: auto;
    padding-top: 100px;
}
#Duvidas{
    text-align: center;
    color: #008AFF;
}
summary {
    margin-left: 20px;
    color: #008AFF;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
    font-weight: 100;
    background-color: #F7F7FB;
    border-radius: 20px;
    cursor: pointer;
}

details p {
    margin-left: 20px;
    color: #726F95;
    font-size: 14px;
    background-color: #ff99009a;
}